/*
Theme Name: Intentionally Blank
Theme URI: https://www.nilovelez.com/portfolio/blank/
Author: Nilo Velez
Author URI: https://www.nilovelez.com/
Description: This theme was intentionally left blank. There are times when all you need is the WordPress dashboard and an blank frontend. You might be using the WordPress REST API as a backend for a mobile App or you might be a minimalism obsessed hipster. This is your theme.
Version: 1.4.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-background, theme-options, translation-ready
Text Domain: Delicia
*/

.left .row, .right .row{
	height:50px;
}
.left .tab-content .row , .right .tab-content .row{
	height:auto!important;
}

.product_attribute .collapse-drop{
	height:35px;
}
.main_menu__bag{
    margin-left: 5%;
}
.justify-content-center{
    display: flex;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
em{
    font-style: normal;
}
.main section{
    padding-top: 6em;
    z-index: 100;
}
@font-face {
    font-family: "Bebes Regular";
    src: url('/wp-content/themes/Delicia/assets/fonts/BebasNeue Regular.ttf');
}
@font-face {
    font-family: "Bebes Bold";
    src: url('/wp-content/themes/Delicia/assets/fonts/BebasNeue Bold.ttf');
}
@font-face {
    font-family: "Museo Cyrl";
    src: url('/wp-content/themes/Delicia/assets/fonts/MuseoSansCyrl.otf');
}
@font-face {
    font-family: "Museo Cyrl 300";
    src: url('/wp-content/themes/Delicia/assets/fonts/Museo-Cyrl-300.otf');
}
@font-face {
    font-family: "Bebes Book";
    src: url('/wp-content/themes/Delicia/assets/fonts/BebasNeue Book.ttf');
}
@font-face {
    font-family: "Museo Cyrl 100";
    src: url('/wp-content/themes/Delicia/assets/fonts/MuseoSansCyrl_500.otf');
}
@font-face {
    font-family: "Museo Cyrl 700";
    src: url('/wp-content/themes/Delicia/assets/fonts/MuseoSansCyrl-700.otf');
}
@font-face {
    font-family: "Museo Cyrl 900";
    src: url('/wp-content/themes/Delicia/assets/fonts/Museo_Sans_Cyrl_900.otf');
}
@font-face {
    font-family: "Zinco Black";
    src: url('/wp-content/themes/Delicia/assets/fonts/17853.ttf');
}
html,body{
    min-height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:16px;
    line-height:1.4em;
    margin:0
}
body{
    color: white;
}
header{
    width: 100%;
    z-index: 9999;
    position: relative;
    top: 0;
}
.main-menu{
    width: 100%;
    display: flex;
}
.fa{
    font-size: 22px;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    background-color: transparent;
    padding: 20px 0;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-family: "Museo Cyrl",sans-serif;
    font-weight: 400;

}

/*.topnav a:hover {
    background-color: #ddd;
    color: black;
}*/
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .responsive-menu a{
    display: none;
}
.main_menu__lang a{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.main-menu__center{
    display: flex;
    width: 38%;
}
/*
@media (max-width: 1200px) {
    .main-menu__center{
        display: flex;
        width: 19.5em;
    }
}*/
.responsive-menu:last-child{
    display: none;
}
.responsive-menu .lang{
    display: none!important;
}
@media only screen and (max-width: 991px) {
    .topnav a{
        font-size: 10px;
    }/*
    .main-menu__center{
        width: 85%;
    }*/
}
@media screen and (max-width: 767px) {
    .topnav{
        flex-direction: column;
        transition: .7s ease;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .topnav a {
        font-size: 17px;
    }
    .main-menu{
        display: none;
        margin-left: 0;
        height: 81vh;}
    .topnav.responsive .main-menu{
        display: flex;
        flex-direction: column;
    }
    .topnav.responsive {
        position: relative;
        background-color: #424242}
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }
    .topnav .responsive-menu img,.topnav .responsive-menu a{
        display: flex;
        justify-content: center;
    }

    .topnav.responsive a {
        display: flex;
        text-align: center;
    }
    .topnav.responsive .main-menu__center{
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }
    .topnav.responsive .responsive-menu:last-child{
        display: flex;
    }
    .topnav.responsive .responsive-menu .shopping-bag{
        display: none;

    }
    .topnav.responsive .responsive-menu .lang{
        display: flex!important;;
    }
    .main_menu__lang{
        display: none;
    }
    .main_menu__logo{
        display: none!important;
    }
    .main_menu__bag{
        display: none!important;
    }
    .shopping-bag{
        width: 46.5px;
    }
    .logo{
        margin-left: 35px;
    }

    .responsive .main-menu:first-child{
        padding: 35px 0 0 0;
    }
    .responsive .main-menu:last-child{
        padding: 0 0 35px 0;
    }
    .topnav.responsive{
        height: 100vh;
    }
    .responsive-menu .active    .logo{
        margin-left: 3.5em;
    }
}
.main_html .contact__text h2{
	color:white!important;
	font-size:120px;
}
@media (max-width: 400px) {
    .responsive .logo{
        margin-left: 0;
    }
}
.responsive-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/********************************************** FIRST SLIDE, MAIN PAGE **********************/
.first-slide__text *{
    z-index: 5;
}

h1{
    font-family: "Bebes Bold", sans-serif;
    font-size: 16vw;
    font-weight: 700;
}

@media  (min-width: 2000px) {
    h1{
        font-size: 230px
    }
}

h2{
    font-family: "Bebes Regular", sans-serif;
    font-size: 5vw;
    font-weight: 400;
}

h3{
    font-family: "Bebes Bold", sans-serif;
    font-size: 80px;
    font-weight: 400;
}
h4{
    font-family: "Bebes Regular", sans-serif;;
    font-size: 48px;
}
p{
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 1em;
    font-weight: 400;

}
.first-slide{
    cursor: default;
    background: url(assets/img/1-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.first-slide .container{
    height: 100%;
}
.main section.first-slide{
    padding: 0;
}

/******************************************************* Second Slide,  BEst   ***********************************/
.char p {
    font-size: 15px!important;
    font-weight: 300!important;
    margin-bottom: 1%;
}

@media only screen and (max-width: 768px) {
    .char p{
        font-size:13px!important;
    }
}
@media only screen and (max-width: 576px) {
    .char p{
        font-size:12px!important;
    }
}
.best{
    background: url(assets/img/2-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.best__text {
    width: 56%;
    z-index: 2;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    top: 30%;
    left: 22%;
}
.best__bg-img img:first-child{
    position: absolute;
    left: 0;
    top: 11em;
    right: 0;
    bottom: 0;
    display: inline-block;
    height: 420px;
}
.best__bg-img img:last-child{
    position: absolute;
    top: 11em;
    right: 0;
    bottom: 0;
    display: inline-block;
    height: 420px;
}

@media only screen and (max-width: 1200px){
    .best__bg-img img:first-child {
        position: absolute;
        left: -50px;
        top: 2vw;
        right: 0;
        bottom: 0;
        display: inline-block;
        height: 400px;
    }
    .best__bg-img img:last-child{
        top: 25em;
        position: absolute;
        right: -115px;
        bottom: 86px;
        display: inline-block;
        height: 400px;
    }
    .best__text {
        width: 88%;
        z-index: 2;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        height: 100%;
        top: 30%;
        left: 8%;
    }
}
@media only screen and (max-width: 767px){
    .best__bg-img{display: none}
    .best__text{
        width: 100%;
        z-index: 2;
        position: relative;
        text-align: center;
        margin: 0 auto;
        height: 100%;
        top: 12%;
        left: 0;
    }
    .best__text h3{
        font-size: 2.2em;
    }
    .best__text h4{
        font-size: 1.5em;
    }
    .best__text p{
        font-size: 1em;
    }
}


/*********************** left SECTION *****************************/
main .left .col,main .col-1,main .col-10,main .col-11,main .col-12,main .col-2,main .col-3,main .col-4,main .col-5,main .col-6,main .col-7,main .col-8,main .col-9,main .col-auto,main .col-lg,main .col-lg-1,main .col-lg-10,main .col-lg-11,main .col-lg-12,main .col-lg-2,main .col-lg-3,main .col-lg-4,main .col-lg-5,main .col-lg-6,main .col-lg-7,main .col-lg-8,main .col-lg-9,main .col-lg-auto,main .col-md,main .col-md-1,main .col-md-10,main .col-md-11,main .col-md-12,main .col-md-2,main .col-md-3,main .col-md-4,main .col-md-5,main .col-md-6,main .col-md-7,main .col-md-8,main .col-md-9,main .col-md-auto,main .col-sm,main .col-sm-1,main .col-sm-10,main .col-sm-11,main .col-sm-12,main .col-sm-2,main .col-sm-3,main .col-sm-4,main .col-sm-5,main .col-sm-6,main .col-sm-7,main .col-sm-8,main .col-sm-9,main .col-sm-auto,main .col-xl,main .col-xl-1,main .col-xl-10,main .col-xl-11,main .col-xl-12,main .col-xl-2,main .col-xl-3,main .col-xl-4,main .col-xl-5,main .col-xl-6,main .col-xl-7,main .col-xl-8,main .col-xl-9,main .col-xl-auto {

    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.left p{
    font-family: "Museo Cyrl", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.left .container:first-child, .left .container .d-flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sirop {
    background: url(assets/img/3-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.left .container .flex-nowrap{
    display: flex;
    flex-direction: row;

}
.product-attribute__first, .product-attribute__second{
    display: flex;
}
.product-attribute{
    margin-bottom: 3%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.left .row{
    margin-left:0;
    margin-right: 0;
}


.left .product-attribute h2{
    font-size: 70px;
}
.product-attribute h4{
    font-family: "Bebes Regular", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
}
.product-attribute em{
    font-family: "Museo Cyrl", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}
.product-attribute .product-attribute__first em{
    font-family: "Bebes Regular", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4em;
}


.collapse-drop{
    margin-bottom: 1%;
}
.left .row .col-3, .left .row .col-9{
    padding: 0!important;
}
.m-20{
    margin-top: 3%;
}
.last-child{
    height: 35px;
}
.btn{
    border-radius: 20px;
    background-color: #ffffff;
    color: #bde0b2;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 16px;
	font-weight: 400;
    line-height: 29.77px;
    text-transform: uppercase;
    width: max-content;
}
.product-attribute{
    z-index: 5;
}
.collapse-drop p:first-child{
    margin-right: 30px;
}
@media (min-width: 768px){
    .offset-md-1-r {
        margin-right: 8.333333%;
    }
}

@media (max-width: 767px){
    .product-attribute{
        justify-content: center;
    }
}
@media only screen and (max-width: 576px){
    .main.container{
        max-width: none;
    }
}
@media only screen and (max-width: 767px) and ( min-width: 501px){
    .img-container{
        height: 70%;
    }
    .left img,.img-container{
        position: absolute!important;
    }
    .left img{
        left: -85px!important;
        height: 350px!important;
        width: auto;
        top: 15%;
    }
    .offset-min-3 {
        margin-left: 36%;
    }
}
@media only screen and (max-width: 500px){
    body{
        line-height: 1.2em;
    }
    .img-container{
        height: 100%;
        z-index: 1;
    }
    .left img{
        margin: 3em auto 0 auto;
    }
    .sirop img {
        margin: 2em auto 0 auto;
    }
    .sirop h2 {
        left: 43vw;
    }
    .topping h2{
        left: 38vw;
    }
    .sirop-2 h2{
        left: 42%;
    }
    .jem h2{
        left: 41%;
    }
    .jem img{
        margin: 30% auto 0 auto!important;
    }
    .btn {
        margin: 0 auto;
        border-radius: 20px;
        background-color: #ffffff;
        color: #bde0b2!important;
        font-family: "Museo Cyrl", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        width: 50%;
    }
    .product-attribute em{
        font-family: "Museo Cyrl", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4em;
    }
    .left .bold, .bold,.left .regular, .regular,.product-attribute .product-attribute__first em,.product-attribute h4{
        font-size: 25px;
    }
    .product-attribute em {
        font-size: 14px;
    }
    .left .product-attribute h2 {
        font-size: 47px;
    }
    .main .topping #best__bg-img-2 img:first-child {
        right: 1.6em!important;}

}
@media (min-height: 600px ){
    .main .topping #best__bg-img-2 img:first-child {
        right: 1.8em!important;
    }
}
@media (min-height:800px ){
    .main .topping #best__bg-img-2 img:first-child {
        right: 2.6em!important;}
}
@media (max-width: 450px) {
    .topping h2 {
        left: 32vw;
    }
    .sirop-2 h2{
        left: 41%;
    }
    .jem h2{
        left: 40%;
    }
}
@media (max-width: 400px){
    .sirop h2 {
        left: 37vw;
    }
    .sirop-2 h2{
        left: 40%;
    }
    .jem h2{
        left: 38%;
    }
}
@media (max-width: 350px){
    .topping h2{
        left: 29vw;
    }
    .sirop-2 h2{
        left: 38%;
    }
    .jem h2{
        left: 36%;
    }
}
/****************** TOPPING SECTION **********************************/

.topping{
    background: url(assets/img/4-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.topping img{
    height: 500px;
}
@media only screen and (max-width: 500px){
    body{
        line-height: 1.2em;
    }
    .img-container{
        height: 100%;
    }
    .right img{
        right: 0;
        height: 150px;
        width: auto;
        top: 0;
        left: auto;
    }
}
@media only screen and (max-width: 400px){
    body {
        line-height: 1em;
    }
}

@media only screen and (max-width: 767px) and ( min-width: 501px){
    .right img, .img-container-r{
        right: -20px;
        left: auto;
        position: absolute;
    }
    .right img{
        height: 350px!important;
        width: auto;
        top: 15%;
    }
    .offset-min-3-r {
        margin-right: 36%;
    }

}

/********************* SIROP 2 ***************************/


.sirop-2{
    background: url("assets/img/5-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sirop-2 img{
    height: 500px;
}

/************************* JEM *****************************/


.jem{
    background: url("assets/img/6-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 101;

}

.jem img{
    height: 350px;
}
@media only screen and (max-width: 1200px){
    .jem img{
        height: 300px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 501px){
    .jem img,.r-115{
        right: -115px;
        left: auto;
        position: absolute;
    }

}

.contact{
    background: url("assets/img/7-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.contact h2{
}
.contact a{
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 48px;
    text-decoration: none;
    color: white;
}
.contact p{
    font-family: "Museo Cyrl", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.test-block {
    position: absolute;
    width: 100%;
    top: 0;
    left: auto;
    right: 5vw;
    bottom: 0;
}

.list-container::-webkit-scrollbar {
    display: none;
}

.list-container {
    padding: 0 1em;
    width: 100%;
    height: calc(100%);;
    overflow-y: auto;
    overflow-x: hidden;
}

.list li {
    list-style: none;
    height: 800vh;
    width: 100%;
}


.list li img {
    height: 103%;
    width: auto;
}
.list-container ul{
    margin-left: 65%;
    right: 0;
}

@media (max-width: 1200px){
    .list-container ul{
        margin-left: 65%;
    }
}
@media (max-width: 992px){
    .list li {
        list-style: none;
        height: 300vh;
    }
}
@media (max-width: 567px){
    .test-block{
        display: none;
    }
    .contact__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
/*************************** PARALLAX ************************/


.parallax-bg{
    width: 100%;
    height: 100%;
    position: absolute;
}
div#parallax_img{
    position: absolute;
}


button{
    cursor: pointer;
}
#scene img:hover, #scene2 img:hover, #scene3 img:hover, #scene4 img:hover, #scene5 img:hover, #scene6 img:hover, #scene7 img:hover {
    cursor: pointer;
    opacity: 1;
}
div#container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.main .first-slide img{
    height: 30vw;
    width: auto;
}
.main .first-slide .wrapper-scene-2 img{
    height: 20vw;
    width: auto;
}
.main .z-index-min {
    position: absolute;
    opacity: .5;
    z-index: 0;
}

.wrapper-scene-1{
    left: 0;
    right: auto;
    top: 14%;
    bottom: auto;
}

.wrapper-scene-2 {
    left: 23%;
    bottom: 6%;
    right: auto;
    top: auto;
}

.wrapper-scene-3{
    left: 44%;
    right: auto;
    top: 2%;
}


.wrapper-scene-4{
    left: auto;
    right: 9%;
    top: auto;
    bottom: 9%;
}




.main .z-index-max {
    position: absolute;
    opacity: 0;
    z-index: 100;
    transition: .3s opacity;}

.scena-link {
    display: block;
}
.wrapper-scene-1 .layer{
    left: 10%;
}
#scene img:hover, #scene10 img:hover, #scene2 img:hover, #scene3 img:hover, #scene4 img:hover, #scene5 img:hover, #scene6 img:hover, #scene7 img:hover, #scene8 img:hover, #scene9 img:hover {
    cursor: pointer;
}
.main .z-index-max:hover {
     opacity: 1;
    z-index: 100;
 }
@media (max-width: 1200px){

    .main .wrapper-scene-4 {
        right: -6%;
    }
    .main .wrapper-scene-3 {
        top: 15%;
    }
    .main .wrapper-scene-2 {
        bottom: 5%;
    }
}
@media (max-width: 992px){
    .main .wrapper-scene-4 {
        right: -8%;
        top: 20%;
        bottom: auto;
    }
    .main .wrapper-scene-3{
        top: 12%;
    }
    .main .wrapper-scene-2 {
        left: -5%;
        bottom: 7%;}
    .main .wrapper-scene-1 {
        left: -8%;
        right: auto;
        top: 20%;}
    .main .wrapper-scene-4 {
        right: 6%;
        top: auto;
        bottom: -6%;}
}
@media (max-width: 769px){

    .main .first-slide img{
        height: 65vw;
        width: auto;
    }
    .main .first-slide .wrapper-scene-2 img{
        height: 50vw;
        width: auto;
    }
}
@media (max-width: 576px){
    .main .wrapper-scene-4 {
        right: -8%;
        top: 20%;
        bottom: auto;
    }
    .main .wrapper-scene-3{
        left: auto;
        right: 1%;
    }
    .main .wrapper-scene-2 {
        left: 2%;
        bottom: 14%;}
    .main .wrapper-scene-1 {
        left: -8%;
        right: auto;
        top: 20%;}
    .main .wrapper-scene-4 {
        right: -2%;
        top: auto;
        bottom: 4%;}
}
@media (max-width: 1200px){
    .collapse-drop p:first-child {
        margin-right: 25px;
    }
    .left .bold, .bold {
         font-family: "Bebas Bold", sans-serif;
         margin-top: 2%;
         font-size: 25px;}
    .left .regular, .regular {
        font-family: "Bebes Book", sans-serif;
        margin-top: 2%;
        font-size: 25px;}
    .left .product-attribute h2 {
        font-size: 55px;
    }
    body{    line-height: 1.2em!important;}
}
@media (max-width: 992px) {
    .jem img {
        right: -50px;
    }
    .collapse-drop p:first-child {
        margin-right: 20px;
    }
    .left .bold, .bold {
        font-family: "Bebas Bold", sans-serif;
        margin-top: 2%;
        font-size: 23px;}
    .left .regular, .regular {
        font-family: "Bebes Book", sans-serif;
        margin-top: 2%;
        font-size: 23px;}
    .left .product-attribute h2 {
        font-size: 40px;
    }
    .product-attribute{
        font-size: 22px;
    }
    .product-attribute .product-attribute__first em{
        font-size: 22px;
    }
    .left .row, .right .row{
        height: 25px;
    }
    body{    line-height: 1em!important;}
    .m-20{
        margin-top: 2%;
    }
    .product-attribute em {
        font-size: 14px;
        line-height: 1em;
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-link{
    color: #fff;
    background-color: transparent;
}

.nav-link.active p{

font-family: "Bebas Bold", sans-serif;
font-size: 25px;
text-transform: uppercase;}

@media (min-width: 501px) {
    .nav-link p{
    font-family: "Bebes Book", sans-serif;
    font-size: 25px;
    text-transform: uppercase;}
}
@media (max-width: 500px)
{.nav-link p{
    font-family: "Bebas Bold", sans-serif;
    font-size: 25px;
    text-transform: uppercase;}
}
.nav-link{
    padding:0;
}
.nav-link{
    padding-top:5px;
}
.nav-pills{
    margin-top: 1rem;
	height:35px!important;
}
.nav-link.active p{font-size: 20px;}

.contact__content {
    height: 102vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

@media (max-width: 575px) {
    .nav-link p{
        font-size: 18px;
    }

}

.list-container ul{
    padding-left: 0;
    width: 100%;
}




















/************** ***********************/


.main{
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0.7, 0, 5);
    transition: all 0.2s cubic-bezier(0.5, 0.7, 0, 5);
}




.section{
    position: fixed;
    width: 100%; height: 100%; top: 0; left: 0;
    animation: 0.1s linear;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 70px!important;
    z-index: 100;
}

.section.fp-completely.active,.section.active,.section.fp-completely{
    z-index: 101;
}
.section.active {
    transform:translateY(1.5vh);
    transition: all 0.4s cubic-bezier(0.22, 0.44, 0.21, 0) !important;
}
.section.fp-completely {
    transform:translateY(1.5vh);
    transition: all 0.4s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.section.fp-completely.active {
    margin-top: 0;
    transform:translateY(0);
    position: relative;
    padding:0;
    width: 100%
}




.topping.section img:first-child{
    left: 5%!important;
}
.topping.section img{
    z-index: 0;
    opacity: 0.2;


}
.topping.section.fp-completely{
    z-index: 20;
}
.topping.section.fp-completely img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.topping.section.active img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;

}



.topping.section.fp-completely.active img{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
}
.topping.section img:last-child{
    left: auto!important;
    top: auto!important;
}
@media (min-width: 501px){
    .topping.section.fp-completely.active img:last-child{
        animation: move-1 5s infinite linear;
}}
    @media (max-width: 500px) {
        .topping.section img:last-child {
            animation: move-sm 3s infinite linear;
            transform: none!important;
        }
        .topping.section img:first-child {
            transform: none!important;
        }
    }

.best.section.fp-completely.active .best__main img:first-child{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
    animation: move 5s infinite linear;
}
.best.section.active .best__main img:first-child{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
 }
.best.section.fp-completely .best__main img:first-child{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.best.section .best__main img:first-child{
    z-index: 0;
    opacity: 0.2;
}


.best.section.fp-completely.active .best__main img:last-child{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
    animation: move 5s infinite linear;
}
.best.section.active .best__main img:last-child{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.best.section.fp-completely .best__main img:last-child{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.best.section .best__main img:last-child{
    z-index: 0;
    opacity: 0.2;
}







.sirop.section img{
    height: 500px;
    z-index: 0;
    opacity: 0.2;
}
.sirop.section.fp-completely img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.sirop.section.active img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;

}
.sirop.section.fp-completely.active img{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
}
.sirop.section img:last-child{
    top: auto!important;
}
.sirop.section.fp-completely.active img:last-child{
    animation: move 5s infinite linear;}

@media (max-width: 500px) {
    .sirop.section img:first-child {
        transform: none!important;
    }
    .sirop.section img:last-child {
        transform: none!important;
    }
}

.sirop-2.section img{
    height: 500px;
    z-index: 0;
    opacity: 0.2;

}
.sirop-2.section.fp-completely img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.sirop-2.section.active img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;


}
.sirop-2.section.fp-completely.active img{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
}

.sirop-2.section img:last-child{
    top: auto!important;
    left: auto!important;
}
@media (min-width: 992px) {
    .sirop-2.section.fp-completely.active img:last-child{
        animation: move-1 5s infinite linear;}
}
@media (max-width: 991px) {
    .sirop-2.section.fp-completely.active img:last-child{
        animation: move-3 5s infinite linear;}
}
@media (max-width: 768px) {
    .sirop-2.section.fp-completely.active img:last-child{
        animation: move-2 5s infinite linear;}
}
@media (max-width: 500px) {
    .sirop-2.section.fp-completely.active img:last-child{
        animation: move-sm-2 2s infinite linear;}
}
@media (max-width: 500px) {
    .sirop-2.section img:first-child {
        transform: none!important;
    }
    .sirop-2.section img:last-child {
        transform: none!important;
    }
}
.jem.section img{
    z-index: 0;
    opacity: 0.2;
    width: 143%;


}
.jem.section.fp-completely{
    z-index: 20;
}
.jem.section.fp-completely img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
}
.jem.section.active img{
    z-index: 0;
    opacity: 0.2;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;

}



.jem.section.fp-completely.active img{
    opacity: 1;
    transition: all 1.5s cubic-bezier(0.22, 0.44, 0.21, 0.62) !important;
    z-index: 0;
}
@media (min-width: 768px) {
    .jem.section.fp-completely.active img:last-child{
        animation: move-4 3s infinite linear;
    }
}
@media(max-width: 767px){
    .jem.section.fp-completely.active img:last-child{
        animation: move-5 3s infinite linear;
    }
}
@media (max-width: 500px){
    .jem.section.fp-completely.active img:last-child{
        animation:  move-sm-3 2s infinite linear;
    }
}
.jem.section img:last-child{
    left: auto!important;
    top: auto!important;
}
@media (max-width: 500px) {
    .jem.section img:first-child {
        transform: none!important;
    }
    .jem.section img:last-child {
        transform: none!important;
    }
}


.best__main{
    height: 100%;
}
@media (min-width: 767px) and (max-width: 1100px){    .offset-lg-1{
    margin-right:10%;
}}

.sirop .product-attribute,.sirop-2 .product-attribute,.sirop .product-attribute .nav-link,.sirop-2 .product-attribute .nav-link, .sirop-2 .product-attribute .btn,.sirop .product-attribute .btn{
    color: #000;
}
.black{
    color: #191919!important;
}
.black_icon_color {color:#191919!important;}

@media screen and (max-width: 768px){
    header.black_menu.topnav.responsive{
        background-color: white!important;
    }}


/* ABOUT */
.breadcrumb-title:first-child{
    display: none;
}
.breadcrumb-title:last-child{
    padding-right: 10px;
}
.woocommerce-breadcrumb a{
    padding: 0 10px;
    color: #bdbdbd;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.woocommerce-breadcrumb{
    color: #191919;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
woocommerce-breadcrumb *{
    padding: 0 10px;
}
.breadcrumbs__link{
    color: #bdbdbd;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.breadcrumbs__separator{
    color: #191919;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
}


.breadcrumbs__current{
    color: #191919;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 12px;
    font-weight: 400;
}



.about h1,.stocks h1,.popmake-title,.shop h1,.shop__toppings h1, .shop__syrups_in_glass_bottle h1, .shop__syrup h1, .shop__jams h1,.product-cart h1:nth-child(2),.h1,.cart h1{
    text-align: center!important;
    color: #191919!important;
    font-size: 30px!important;
    font-weight: 400;
    padding: 2em 0 2em 0!important;
    font-family: "Bebes Bold", sans-serif!important;
}
.universal .row{
    overflow: hidden;
}
.about p{

    color: #142228;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.img-about img{
    width: 100%;
    height: auto;
}
@media (max-width: 767px) and (min-width: 576px){
    .img-about{

        position: absolute;
    }
    .about__first-slide .row{
        display: flex;
        flex-wrap: nowrap;
    }
    .img-about img{
        position: relative;
        width: auto;
        height: 100%;
        left: -55vh;
        padding: 0;
    }
}
.about .k2{
    width: 100%;
    height: 2000px;
}
.about .about__video{
    margin-top: 8em;
}
.about__video .big-img{
    width: 100%;
    height: auto;
}
.about__video:last-child img{
    width: 10%;
    height: 10%;
}
.about__video__play{
    padding: 13% 0;
    align-items: center;
}
.about__video__play img{
    width: 100%;
    position: relative;
    left: -5vw;
    border-radius: 50%;
}
.about__video a {
    width: 33%;
    height: 100%;
    display: flex;
}
@media (max-width: 575px) {

    .about__video__play img {
        left: 0;
    }
    .about__video__play{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }
    .about__video a{
        justify-content: center;
        display: flex;
    }
    .about__video__play{
        bottom: 70px;
        position: relative;
        margin-top: 3em;
    }
    .about__video__play img{
        width: 40%;
    margin-bottom: 10px
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .universal-img{
        overflow: hidden;
        position: absolute;
        margin-left: 43vw;
        height: 84%;
    }

    .universal img{
        position: relative;
        width: auto;
        height: 100%;
        left: -21vw;
    }
}
@media (max-width: 575px) {
    .universal .row{
        flex-wrap: wrap-reverse;
    }
    .universal img{
        position: relative;
        width: auto;
        height: auto;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* IE 5-7 */
        filter: alpha(opacity=0);
        /* modern browsers */
        opacity: 0;
    }
    .universal-img{

        margin-bottom: 2em;
        background: url("/wp-content/themes/Delicia/assets/img/about/about-3.png");
        padding: 0;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

}
.individual p{
    width: 70%;
    text-align: center;
}
.individual img{
    padding: 0;margin-top: 2em
}
@media (max-width: 767px){
    .individual p{
        width: 100%;
        text-align: left;
    }
}


.facts__img{    padding: 2em;
    width: 250px;
    height: 250px;
}
.facts__img .img{
    background-color: #5e5e5e;
    width: 100%;
    height: 100%;
}
@media (max-width: 992px){
    .facts__img {
        padding: 3em;
    }
}

@media (max-width: 767px){
    .facts__img {
        padding: 0;
        margin-bottom: 1em;
    }
    .facts p{
        margin-bottom: 2em;
    }
}
.facts{
    margin-bottom: 4em;
}
.about h1:first-child{
    padding-top: 2em;
}


/**************** FOOTER ***********************/


footer{
    padding: 2em 0 1em 0;
    background-color: #191919;
    color: white;
}
footer ul{
    list-style: none;
}

footer a{
    color: white;
    opacity: 0.5;

}
footer a:hover{
    opacity: 1;
    color: white;
    text-decoration: none;
}
.op-05{
    opacity: 0.5;
}
footer ul li{
    padding: 0.7em 0;
}
footer ul{
    padding: 0;
}
footer input{
    border-radius: 10px;
    font-size:14px;
    color: white;
    padding: 5px 5px 5px 20px;
    border: none;
    background-color:rgba(170,170,170,0.3);;
    width: 200px;

}

input:focus,select:focus, .autoplay .slick-slide {
    outline-offset: 0px !important;
    outline: none !important;
}
@media (max-width: 767px) {
    footer ul:first-child li:last-child{
        padding-bottom: 0;
    }
}
.footer__social a{
    margin-right: 10px;
}

/********* Cooperation ************/

.cooperation h1,.blog h1{
    text-align: center;
    color: #191919;
    font-size: 30px;
    font-weight: 400;
    padding: 2em 0 2em 0;
    font-family: "Bebes Bold", sans-serif;
}
.cooperation h2{
    color: #111111;
    font-family: "Museo Cyrl 700",sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 2em 0 1em 0;
}
.cooperation h3{
    color: #111111;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 2em 0 1em 0;
}
.cooperation p, .cooperation li{
    opacity: 0.9;
    color: #111111;
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.cooperation__main-img img {
    margin: 0 8%;
    width: 83%;
    height: auto;
}
.cooperation span{
    opacity: 1;
    color: #111111;
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
    display: block;
}
.cooperation li{
    padding: 0.5em 0;
}
@media (max-width: 767px){
    .cooperation__main-img img {
        margin: 0;
        width: 100%;
        height: auto;
    }

}


/*********** BLOG ******************/

.blog-miniature{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 35px rgba(0, 0, 1, 0.1);
    background-color: white;
    width: 550px;
    height: 640px;
}

.post-thumbnail{
    padding: 0;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    width: 100%;
    height: 300px;
    overflow: hidden;

}
.post-thumbnail img{
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
}
.blog-info{
    width: 100%;
    margin-top: 1em;
}
.blog-author, .blog__view, .blog-date{
    opacity: 0.7;
    color: #111111;
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.blog-miniature h2{
    color: #111;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0.5em 0;

}
.blog__pre-text{
    opacity: 0.9;
    color: #111;
    font-family: "Museo Cyrl 300", sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.blog__link{

    color: #111111;
    font-family: "Bebes Bold", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.blog-miniature__bottom{
    padding: 0 3vw;
}
.blog-miniature__info{
    margin-top: 1em;
}
@media (min-width: 1200px){
    .blog-miniature:nth-of-type(1),.blog-miniature:nth-of-type(5){
        margin-right: 1.6%;
    }

}
@media (min-width: 992px){
    .blog-miniature:nth-of-type(1),.blog-miniature:nth-of-type(2),.blog-miniature:nth-of-type(5),.blog-miniature:nth-of-type(6) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        display: inline-block;
        padding-bottom: 1em;
    }
    .blog-miniature:nth-of-type(1),.blog-miniature:nth-of-type(5){
        margin-right: 1.4%;
    }
     .blog .blog-miniature:nth-of-type(3),.blog .blog-miniature:nth-of-type(7){
        flex-wrap: nowrap;
        width: auto ;
        height: auto;
        margin: 1em 0;
    }
    .blog .blog-miniature:nth-of-type(3) .post-thumbnail, .blog .blog-miniature:nth-of-type(7) .post-thumbnail  {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
        display: inline-block;
        padding: 0;
        background-position: center center!important;
        background-repeat: no-repeat!important;
        width: 100%;
        overflow: hidden;
    }
    .blog-miniature:nth-of-type(4),.blog-miniature:nth-of-type(8) {
        display: flex;
        box-shadow: 0 0 35px rgba(0, 0, 1, 0.1);
        background-color: white;
        height: 550px;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        width: auto;
        margin-bottom: 1em;
    }
    .blog .blog-miniature:nth-of-type(4) .post-thumbnail, .blog .blog-miniature:nth-of-type(8) .post-thumbnail {
        padding: 0;
        background-position: center center!important;
        background-repeat: no-repeat!important;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
    }

}
@media (min-width: 768px) and (max-width: 991px){
    .blog .post-thumbnail img{
        position: relative;
        width: auto;
        height: auto;
        bottom: 26vh;
        right: 2vh;
        min-height: 100%;
        min-width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 1;
    }
}
@media (max-width: 991px){
    .post-thumbnail{
        height: 280px;
    }
    .blog-miniature {
        margin: 0 auto;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 0 35px rgba(0, 0, 1, 0.1);
        background-color: white;
        width: 100%;
        height: 550px;
        margin-bottom: 2em;
    }
}
@media (max-width: 576px){
    .blog__section{
        padding: 0!important;
    }
    .blog-miniature {
        margin: 0 auto;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        width: 100%;
        height: 100%;
        padding-bottom: 1em;
    }
    .post-thumbnail img {
        filter: alpha(opacity=0);
         min-height: 100%;
         min-width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=1);
         opacity: 1;
    }
    .post-thumbnail {
        padding: 0;
        background-position: center center!important;
        background-repeat: no-repeat!important;
        height: 400px;
        overflow: hidden;
         width:auto;
        margin: 0 auto;
    }
}

/************************************************ SHOOPPP *********************/

.woocommerce ul.products li.product a img{
    margin: 0 auto!important;
    width: auto!important;
    height: 100%!important;
}

 .woocommerce ul.products li.product .woocommerce-loop-product__title{
    /* Style for "Имбирный п" */
    color: #191919;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1em;
}
.shop-product__descr{
    color: #8d8d8d;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 17px;
    font-weight: 400;
}
 .woocommerce ul.products li.product .price span{
    color: #595959;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.woocommerce ul.products li.product .price{
    color: #595959!important;
    font-family: "Museo Cyrl", sans-serif;
    font-size: 17px!important;
    font-weight: 400!important;
}
.shop .woocommerce ul.products li.product .price{
    margin-top: 0.5em;
}
.shop-nav{
    padding: 10px;
    width: 70%;
}
.shop-nav a{
    margin-right: 2%;
    padding: 10px;

}
.add_to_cart_button{
    color:white!important;
}


.shop .add_to_cart_button{
    border-radius: 20px!important;
    background-color: #ade7e7!important;
}
.shop .shop-nav .shop__nav{
    background-color: #ade7e7!important;
    border-radius: 12px!important;
    color: #ffffff;
    text-decoration: none;
}
.shop .shop-nav a{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.shop .shop-nav a:hover, .shop .shop-nav a:active{
    background-color: #ade7e7!important;
    border-radius: 12px!important;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}




.shop__syrup .add_to_cart_button{
    border-radius: 20px!important;
    background-color: #c2f0b3!important;
}
.shop__syrup .shop-nav a{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.shop__syrup .shop-nav a:hover,.shop__syrup .shop-nav a:active{
    background-color: #c2f0b3!important;
    border-radius: 12px!important;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
.shop__syrup .shop-nav .syrups__nav{
    background-color: #c2f0b3!important;
    border-radius: 12px!important;
    color: #ffffff;
    text-decoration: none;
}



.shop__jams .add_to_cart_button{
    border-radius: 20px!important;
    background-color: #2286ea!important;
}
.shop__jams .shop-nav .jams__nav{
    border-radius: 12px!important;
    background-color: #2286ea!important;
    color: #ffffff;
    text-decoration: none;
}
.shop__jams .shop-nav a{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.shop__jams .shop-nav a:hover,.shop__jams .shop-nav a:active{
    border-radius: 12px!important;
    background-color: #2286ea!important;
    color: #ffffff;
    text-decoration: none;
}



.shop__syrups_in_glass_bottle .add_to_cart_button{
    border-radius: 20px!important;
    background-color: #ade7e7!important;
}
.shop__syrups_in_glass_bottle .shop-nav .syrups-in-glasses-bottle__nav{
    border-radius: 12px!important;
    background-color: #ade7e7!important;
    color: #ffffff;
    text-decoration: none;
}
.shop__syrups_in_glass_bottle .shop-nav a{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.shop__syrups_in_glass_bottle .shop-nav a:hover,.shop__syrups_in_glass_bottle .shop-nav a:active{
    border-radius: 12px!important;
    background-color: #ade7e7!important;
    color: #ffffff;
    text-decoration: none;
}



.shop__toppings .add_to_cart_button{
    border-radius: 20px!important;
    background-color: #aa96e3!important;
}
.shop__toppings .shop-nav .toppings__nav{
    border-radius: 12px!important;
    background-color: #aa96e3!important;
    color: #ffffff;
    text-decoration: none;
}
.shop__toppings .shop-nav a{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.shop__toppings .shop-nav a:hover,.shop__toppings .shop-nav a:active{
    border-radius: 12px!important;
    background-color: #aa96e3!important;
    color: #ffffff;
    text-decoration: none;
}

.shop_settings{
    margin-bottom: 2em;
}

 .add_to_cart_button{
    visibility: hidden;
}
 .woocommerce ul.products li.product:hover .add_to_cart_button, .shop .woocommerce ul.products li.product:active .add_to_cart_button{
    visibility: visible;
}
.woocommerce ul.products li.product:hover,.owl-stage .owl-item:hover{
    box-shadow: 0 0 30px 5px rgba(0, 0, 1, 0.06)!important;
    border-radius: 20px!important;
    background-color: #ffffff!important;
}
.owl-stage .owl-item{
    margin: 2em 0;
}
.owl-item .woocommerce-Price-amount{
    color: #595959!important;
    font-family: "Museo Cyrl", sans-serif!important;
    font-size: 17px!important;
    font-weight: 400!important;
}
.owl-item .atw_item_title{
    color: #191919!important;
    font-family: "Museo Cyrl 500", sans-serif!important;
    font-size: 14px!important;
    font-weight: 400!important;
    text-decoration: none!important;
}
.woocommerce ul.products li.product{
    padding: 2%!important;
}
select{
    border: none;
}
.woocommerce-ordering {

    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #191919!important;
}
.woocommerce-ordering p,.shop-nav__selector p{
    color: #828282!important;
    margin-right: 10px;
}
.orderby{
    width: 47%!important;
}
.woocommerce nav.woocommerce-pagination ul li {
    border: none!important;
    margin: 0 5px!important;
}
.woocommerce nav.woocommerce-pagination ul {
    border: none!important;
}
.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li:active,.woocommerce nav.woocommerce-pagination ul li:hover {
    border-radius: 50%!important;
    background-color: #08aebb!important;
    color:white!important;
}
.woocommerce .woocommerce-pagination ul.page-numbers li{
    width: 36px;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a, .woocommerce .woocommerce-pagination ul.page-numbers li{
    color: #353535;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.woocommerce .woocommerce-pagination{
    margin-bottom: 2em;
}
.navigation{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2em 0 3em 0;
}

.navigation *{
    margin: 0 5px!important;
    width: 32px!important;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation a{
    color: #353535;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.navigation .current{
    border-radius: 50%!important;
    background-color: #08aebb!important;
    color:white!important;
}
.shop-nav__selector{
    display: none;
}
.woocommerce .woocommerce-ordering{
    margin: 0!important;
}
@media (max-width: 991px) and (min-width: 768px) {
    .shop-nav{
        width: 100%;
    }
}
@media  (max-width: 767px){
    .shop-nav{
        display: none!important;
    }
    .shop-nav__selector{
        display: flex;
        flex: 0 0 50%;
    }
}
@media (max-width: 576px){
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
        width: 100%!important;
    }
    .woocommerce-loop-product__title{margin-top: 2em!important;}
    .woocommerce ul.products li.product {
        padding: 2% 6%!important;
    }
    .woocommerce ul.products li.product .button {
        margin: 1em 0!important;
    }
    .woocommerce a.button {
        padding: 1em 2em!important;
    }
    .woocommerce-ordering div{
        justify-content: center;
    }

}
 /****************** PRODUCT CART **************/

.product_cart__main{
    margin-top: 3em;
}
.product-cart__img{
    justify-content: center;
    display: flex;
    max-height: 600px;
}
.product-cart__img img{
    height: 100%;
    width: auto;
    max-height: 600px;
    margin: 0 auto;
    position: relative;
}

.product-cart__title h1{
    color: #2c2c2c;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2em;
}
.first-elipse{
    height: 65%;
    width: 65%;
    position: absolute;
    background-color: #aa96e3;
    opacity: 0.4;
    border-radius: 50%;
    top: 26%;
}
.second-elipse{
    height: 75%;
    width: 75%;
    position: absolute;
    border: 2px solid #aa96e3;
    opacity: 0.12;
    border-radius: 50%;
    top: 21%;
}
.product-cart__descr p{
    margin-bottom: 1em;
}
.product-cart__descr pre{
    color: #2c2c2c;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2em;
}
.product-cart__descr p{
    font-family: "Museo Cyrl 500", sans-serif;
    color: #2c2c2c;
    font-size: 15px;
    font-weight: 400;
}
.product_cart__main .price span{
    color: #2c2c2c;
    font-family: "Museo Cyrl 900";
    font-size: 24px;
    font-weight: 400;
}
.product-cart__info [type=submit],.product-cart__info button {
    -webkit-appearance: button;
    border-radius: 20px!important;
    color: #ffffff;
    text-decoration: none!important;
    border: none;
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.woocommerce ul.products li.product a img{
    max-height:312px!important;
}
.product_cart__main .quantity {
    display: none;
}
.product_cart__main{
    align-items: center;
}
.product-cart__img img,.product-cart__img {
    min-height: 507px;
    justify-content: center;
    display: flex;
    max-height: 600px;
}

@media (max-width: 991px){
    .second-elipse{
        height: 72%;
        width: 104%;
    }
    .first-elipse {
        height: 61%;
        width: 90%;}
}
@media (max-width: 767px){
    .second-elipse{
        height: 58%;
        width: 104%;
        top: 29%;
    }
    .first-elipse {
        height: 48%;
        width: 90%;
        top: 34%;}
    .product-cart__info [type=submit],.product-cart__info button {
        margin-left:3px;
    }
}

@media (max-width: 575px){
    .second-elipse {
        height: 330px;
        width: 330px;
        top: 25%;
    }
    .first-elipse {
        height: 300px;
        width: 300px;
        top: 28%;
    }
    .product-cart__img{
        margin-bottom: 2em;
    }
    .product-cart__title h1 {
        font-size: 30px;}
    .product-cart__descr p {
        font-size: 17px;}
    .product_cart__main__price-and-cart{
        justify-content: space-around;
    }


}
.product-cart__info{
    margin-top:7em;
}
.product-cart__slider h3{display: none;}
.owl-carousel .owl-item img {
    width: 100px!important;
    height: 300px;
    margin: 0 auto;
}
.slider_control.icon-arrow-left,.slider_control.icon-arrow-right{
    position: absolute!important;
}
.slider_control.icon-arrow-left,.slider_control.icon-arrow-right {

    bottom: 16em!important;
}
.product-cart .blog-miniature{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    display: inline-block;
    margin: 0 0 3em 0;
    width: auto;
    height: auto;
    padding-bottom: 1em;
}
@media (max-width: 991px){
    .product-cart .blog-miniature:nth-of-type(3){
        display: none;
    }
    .product-cart .blog-miniature{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 49%;
}}
@media (max-width: 575px) {
    .product-cart .blog-miniature:nth-of-type(2){
        display: none;
    }
    .product-cart .blog-miniature{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.product-cart__posts{
    display: flex;
    justify-content: space-between;

}
.cart_item .product-thumbnail img{
    height: 181px!important;
    width: 62px;
    margin: 1em 0!important;
}
.woocommerce a.remove {
    line-height: 0.8!important;}
.woocommerce table.shop_table{
    border: none!important;
}
.cart .cart_totals {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart .wc-proceed-to-checkout{
    margin-bottom: 1.5em;
}
.cart .cart_totals th{
    padding: 0!important;
}
.woocommerce .cart-collaterals .cart_totals table{
    width: 33%!important;
}
.cart .woocommerce a.button.alt{
    border-radius: 17px!important;
    background-color: #08aebb!important;
}
.order-total{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.order-total td{
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 24px;
}
.woocommerce table.shop_table th{
    line-height: inherit!important;
}
@media (min-width: 992px){
    .cart .product-thumbnail {
        padding-left: 4%!important;
    }
}

.cart .shop_table thead th{
    color: #555555;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.cart .shop_table tbody tr td{
    color: #191919;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.cart .shop_table .product-name a{
    color: #191919;
    font-family: "Museo Cyrl 700", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.cart .cart-form{
    margin-bottom: 2em;
}
@media only screen and (max-width: 768px){
.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: white!important;
}}
@media (max-width: 767px) {
    .woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
        display: flex !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .cart .woocommerce-cart-form__cart-item {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .cart td.product-name.pr-column {
        display: flex !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60% !important;
        flex: 0 0 60% !important;
        max-width: 60% !important;
    }

    .cart .pr-column {
        display: flex;
    }

    .woocommerce table.shop_table_responsive tr td {
        text-align: left !important;
    }

    .cart .woocommerce-cart-form__cart-item td:nth-child(3),.cart .woocommerce-cart-form__cart-item td:nth-child(4){
        display: flex !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 51% !important;
        flex: 0 0 51% !important;
        max-width: 51% !important;
    }
    .cart td.product-name.pr-column::before{
        content: none!important;
    }
    .woocommerce .cart-collaterals .cart_totals table {
        width: 68%!important;
    }
    .woocommerce .cart-collaterals .cart_totals table td{
        display: flex;
    }
    .woocommerce .cart-collaterals .cart_totals table td::before{
        padding-right: 5px;
    }
    .cart .product-thumbnail::before{
        content: none!important;
    }
}
@media (min-width: 576px){
    .pum-content button:last-child {
        float: none;
        width: 40%;}
}
@media (max-width: 575px){
    .cart .cart_totals {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .woocommerce .cart-collaterals .cart_totals table, .cart .cart_totals .wc-proceed-to-checkout{
        width: 100%!important;
    }
}
.woocommerce-billing-fields__field-wrapper p{
    display: flex;
    flex-direction: column;
}

.woocommerce form .form-row{
    width: 70%!important;
}
.woocommerce-terms-and-conditions-wrapper{
    display: none!important;
}
.woocommerce-checkout #payment{
    background-color: white!important;
}
.woocommerce-billing-fields__field-wrapper .form-row input{
    color: #191919;
    font-family: "Museo Cyrl 500", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #111;
    background-color: white;
    border-radius: 0!important;
}

@media (max-width: 575px){
    .woocommerce form .form-row{
        width: 90% !important;
    }
    .order-total {
        font-size: 14px;
    }
    .order-total td {
        font-size: 17px;
}}
.pum-container button{
    border-radius: 17px!important;
    background-color: #08aebb!important;
    color: #ffffff!important;
    font-family: "Museo Cyrl 500", sans-serif!important;
    font-size: 16px!important;
    font-weight: 400!important;
    text-transform: uppercase;
    padding: 15px 20px!important;
}
.pum-theme-167 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close{
    border-radius: 26px!important;
    padding: 0!important;
    color: #ffffff!important;
    font-family: Arial!important;
    font-weight: 100!important;
    font-size: 24px!important;
    background-color: rgba( 0, 0, 0, 1.00 )!important;
}
.pum-container .woocommerce table.shop_table th{
    padding: 0!important;
}
.contact__text {
    position: relative;
}
.contact__text a{
    position: absolute;
    z-index: 101;
}
.contact__text .footer__social a{
    position: relative;
}
.contact__text ul{
    list-style: none;
    margin-top: 7vh;
    margin-bottom: 0;
}
@media (max-width: 575px){
    .contact__text a{
        position: relative;
    }
}
.contact p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.contact__text p{
    padding: 9vh 0 4vh 0;
}

#atw_style1 .slider_control, #atw_style2 .slider_control{
    border-radius: 50%!important;
}

.switcher .selected a:hover {
    background: transparent url(/wp-content/plugins/gtranslate/arrow_down.png) 146px center no-repeat!important;
}
.switcher .selected {
    border: none!important;
background: none!important;
}
.switcher .selected:after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    display: flex;
    align-self: center;
}
.switcher .selected a {
 border: none!important;}
.switcher .option{
    border: none!important;
    background-color: transparent!important;
}
@media (max-width: 575px){
    .switcher .option{

    border: none!important;
    background-color: transparent!important;
    }
    .switcher .selected a:hover{
        background: transparent!important;
    }
}
.responsive-menu.switcher .selected a:hover {
    background: white url(/wp-content/plugins/gtranslate/arrow_down.png) 146px center no-repeat!important;
}
.responsive-menu.switcher .selected {
    border: none!important;
    background-color: transparent!important;
}
.responsive-menu .lang{
    width: 8%;
}
.main_menu__lang{
    width: 5%;
}
.main_menu__lang .black{
    width: 2.3em;
}
.main_menu__lang .switcher{
    width: 100%;
}
.main_menu__lang .switcher a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_menu__lang .switcher a img{
    display: none;
}
.responsive-menu .switcher a img{
    display: none;
}
.switcher .selected a{
    padding: 0!important;
}
.header{
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
}
.header .switcher .selected a,.header .switcher .option a{
    color: white!important;
}
.header .switcher .option a:hover{
    background-color: inherit!important;
    border: 1px solid white;
}
.top{
    margin-top: 1em;
}

/***** STOCKS *****/
.stocks .blog-miniature{
    padding-bottom: 0!important;
    height: 300px;
    position: relative;
}
.stocks .blog-miniature__bottom {
    position: absolute;
     padding: 2em 0 0 2em;
    width: 80%;
}

.stocks .post-thumbnail {

    height: auto;}

.stocks .blog-miniature:nth-of-type(2) .blog-miniature__bottom{
    width: 70%;
}

@media (min-width: 992px){
    .stocks .blog-miniature:nth-of-type(3){
        margin-right: 1.4%;
    }
}
@media (min-width: 768px){
    .stocks .blog-miniature:nth-of-type(1),.stocks .blog-miniature:nth-of-type(3),.stocks .blog-miniature:nth-of-type(4),.stocks .blog-miniature:nth-of-type(5) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 31.5%;
        flex: 0 0 31.5%;
        max-width: 31.5%;
        display: inline-block;
        padding-bottom: 1em;
    }

    .stocks .blog-miniature:nth-of-type(4){
        margin-right: 3.1%;
        margin-bottom: 3em;
    }
        .stocks .blog-miniature:nth-of-type(2) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 66.6%;
            flex: 0 0 66.6%;
            max-width: 66.6%;
            display: inline-block;
            padding-bottom: 1em;
            width: auto;
        }
    .stocks .blog-miniature:nth-of-type(4) .post-thumbnail{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: inline-block;
        width: auto;
    }
    .stocks .blog-miniature:nth-of-type(5) {
        margin-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .stocks .blog-miniature:nth-of-type(2) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 67.8%;
        flex: 0 0 67.8%;
        max-width: 67.8%;
        display: inline-block;
        padding-bottom: 1em;
        width: auto;
    }
    .stocks .blog-miniature:nth-of-type(4){
        margin-right: 4.2%;
    }
}
@media only screen and (max-width: 767px){
    .stocks .post-thumbnail{
        height: 300px!important;
    }
    .stocks .blog-miniature {
        width: max-content;
        margin-bottom: 3em;
    }
    .stocks .blog-miniature:nth-of-type(2){
        width: 100%;
    }

    .stocks .post-thumbnail img{
        opacity: 0;
    }
}
@media (max-width: 378px){
    .stocks .blog-miniature {
        width: 100%;
    }
    .stocks .blog-miniature:nth-of-type(2) .post-thumbnail img{
        opacity: 1;
        z-index: 1;
        right: 100vw;
        left: auto;
    }
    .stocks .blog-miniature:nth-of-type(2) .blog-miniature__bottom {
        z-index: 100;
    }
}
.autoplay .post-thumbnail{
    border-radius: 5px;
}
.autoplay{
    margin: 2em auto;
}

.autoplay .slick-slide .autoplay__title{
    color: #111111;
    font-family: "Museo Cyrl 700";
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
}
.autoplay .slick-slide .autoplay__title:hover{
    opacity: 1;

    text-underline: none;
}
.articles-slider a:hover{
    text-decoration: none;
}
@media (max-width: 767px){
    .woocommerce-ordering p, .shop-nav__selector p{
        display: none;
    }
    .shop-nav__selector select {
        align-items: center;
        justify-content: center;
    }
    .shop_settings .woocommerce-ordering{
        width: 73%;
        flex: 0 0 34%;
        height: 23px;
        align-self: center;
        display: flex;
    }
    .orderby{
        width: 90%!important;
    }
}
@media (max-width: 576px){
    .autoplay .post-thumbnail img {
         min-height: unset;
         min-width: unset;
         opacity: 0;
    }
    .autoplay .post-thumbnail{
        height: 250px;
    }

}
.autoplay_h{
    color: #111111;
    font-family: "Museo Cyrl 700";
    font-size: 20px;
    font-weight: 400;
    margin: 3em 0 2em 0;
}


@media (max-width: 991px){
    .switcher a{
        font-size: 10px!important;
    }
}

.stocks .blog-miniature__bottom h2{
    color: #ffffff;
    font-family: "Museo Cyrl 700";
    font-size: 24px;
    font-weight: 400;
}
.stocks .blog-miniature .but a{
    color: #73a5ae;
    font-family: "Museo Cyrl 700";
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px 20px;
    top: auto;
    position: relative;
}
.stocks .blog-miniature:nth-of-type(2) .but a{
    right: 10%;
    z-index: 101;
}
.stocks .blog-miniature .but{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 2em;
    top: auto;
    position: absolute;
    left: auto;
    right: 2em;
}
@media (max-width: 1200px){
    .stocks .blog-miniature .but{
        bottom: 1em;
        right: 1em;
    }
}
@media (max-width: 992px){
    .stocks .blog-miniature .but{
        bottom: 5px;
        right: 5px;
    }
}
@media (max-width: 767px){
    .stocks .blog-miniature .but {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        bottom: 2em;
        top: auto;
        position: absolute;
        left: auto;
        right: 2em;}
    .stocks .blog-miniature .but a {
         text-align: unset;
        color: #73a5ae;
        font-family: "Museo Cyrl 700";
        font-size: 16px;
        font-weight: 400;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 15px 20px;
        bottom: unset;
        top: unset;
        position: unset;
        right: unset;
        left: auto;
        right: 0;
        display: unset;
        justify-content: unset;
        width: unset;
    }
}
.switcher .option a{
	padding: 3px 0;
}
.main .left img:last-child{
    position: absolute;
    width: 76%;
    height: 48%;
    bottom: 0;
    right: 21%;
}
.main .sirop-2 img:last-child{
    position: absolute;
    width: 79%;
    height: 80%;
    bottom: 0;
    right: 11%;
}
@media (max-width: 991px){
    .main .left img:last-child{
        width: 131%;
        height: 50%;
        bottom: 0;
        right: 1%;
    }
}
@media (max-width: 767px){
    .main .left img:last-child{
        width: 206px;
        height: 48%!important;
        bottom: -8%;
        top: auto;
        left: -1%;}
}
@media (max-width: 650px){
    .main .left img:last-child{
    left: -2em}
}
@media (max-width: 500px){
    .main .left img:last-child{
        left: auto;
        right: 3em;
        width: 90vw;
        height: 43%!important;}
}
.main .topping #best__bg-img-2 img:last-child{
    position: absolute;
    width: 100%;
    height: 63%;
    bottom: 0;
    right: -13%;

}
.jem.section img:last-child {
    position: absolute!important;
    width: 143%;
    height: 73%;
    bottom: -15%;
    right: -25%;
}

@media (max-width: 1200px){
    .main .topping #best__bg-img-2 img:last-child {
        position: absolute;
        width: 121%;
        height: 63%;
        bottom: 0;
        right: -26%;
    }
    .jem.section img:last-child {
        position: absolute!important;
        width: 180%;
        height: 80%;
        bottom: -15%;
        right: -42%;
    }
    .main .sirop-2 img:last-child {
        position: absolute;
        width: 95%;
        height: 80%;
        bottom: 0;
        right: 3%;
    }
}
@media (max-width: 991px){
    .main .topping #best__bg-img-2 img:last-child {
        position: absolute;
        width: 162%;
        height: 63%;
        bottom: 0;
        right: -50%;
    }
    .main .sirop-2 img:last-child {
        position: absolute;
        width: 155%;
        height: 80%;
        bottom: 8%;
        right: -26%;
    }
    .jem.section img:last-child {
        position: absolute;
        width: 215%;
        height: 81%;
        bottom: -15%;
        right: -60%;
    }

}
@media (max-width: 767px) and (min-width: 501px){
    .left.sirop-2 img {
        left: -85px!important;
        height: 350px!important;
        width: auto;
        top: 15%!important;
        bottom: auto;}
    .jem.section img:first-child{
        width: 350px!important;
        height: 250px!important;
    }
    .jem.section img:last-child{
        height: 64%!important;
    }

}
@media (max-width: 767px) {
    #best__bg-img{
        position: absolute!important;
        left: 6%;
    }
    .main .sirop-2 img:last-child {
        position: absolute;
        width: 250px;
        bottom: 16%!important;
        right: 57.5%!important;
        top: auto!important;
        left: auto!important;
    }
    #best__bg-img-2,#best__bg-img-3{
        position: absolute!important;
    }
    .main .topping #best__bg-img-2 img:last-child {
    position: absolute!important;
    width: 100%;
    height: 63%;
    bottom: 0;
    right: 1vw;
    left: auto!important;}
    .main .topping #best__bg-img-2 img:first-child{
        left: auto!important;
        right: 9em;
    }
    .main .topping #best__bg-img-2 img:last-child {
        position: absolute;
        width: 260px;
        height: 63%!important;
        bottom: 0;
        right: 4.2em;
    }
    .jem.section img:last-child {
        position: absolute;
        width: 215%;
        height: 81%;
        bottom: 16%;
        right: -43%;
        left: auto!important;
        top: auto;
    }
}
@media (max-width: 575px) {
    .jem.section img:first-child{
        left: auto!important;
    }
    .jem.section img:last-child {
        position: absolute;
        width: 100%;
        height: 81%;
        bottom: 16%;
        right: -8em;
        left: auto!important;
        top: auto;}
    .left.sirop-2 img{
        left: -1em!important;
    }
    .main .sirop-2 img:last-child {
        position: absolute;
        width: 250px;
        bottom: 16%!important;
        right: auto!important;
        top: auto!important;
        left: -4.7em!important;
    }

    .main .topping #best__bg-img-2 img:last-child {
        position: absolute!important;
        width: 260px!important;
        height: 63%!important;
        bottom: 0;
        right: -13.2%!important;
        left: auto!important;
    }
    .main .topping #best__bg-img-3 img:last-child,.main .jem #best__bg-img-4 img:last-child{
        position: absolute!important;
    }
    #best__bg-img-2,#best__bg-img-4{
        position: absolute!important;
    }
    .main .topping #best__bg-img-2 img:first-child{
        left: auto!important;
        right: 0;
    }
}

@media (max-width: 500px){

    .main .topping #best__bg-img-2 img:last-child {
        position: absolute!important;
        left: auto!important;
        right: auto!important;
        width: 43.6vh!important;
        height: 42%!important;
        top: 27vh!important;
        bottom: auto;
        margin: 0 auto;
    }
    .main .sirop-2 img:last-child {
        position: absolute;
        width: 43vh;
        bottom: auto!important;
        right: auto;
        top: 8%!important;
        left: auto!important;
    }
    .left.sirop-2 img{
        left: auto!important;
    }
    .left.sirop-2 img:first-child{
        right: auto;
    }
    .left.sirop-2 img:last-child{
        right: auto!important;
    }
    .jem.section img:last-child {
        height: 13em!important;
        left: auto!important;
        position: absolute;
        bottom: auto!important;
        top: 16vh!important;
        right: auto!important;
        margin: 0 auto;
        width: 108vw;
    }
    .sirop-2.section img:last-child{
        top: 6em!important;
    }
    .jem.section img:first-child{
        right: 3vw!important;
    }
    .jem.section img:last-child{right: -0.3em;}

}
@media (max-width: 450px) {
    .jem.section img:last-child{right: -0.4em;}


}
@media (max-width: 400px) {
    .jem.section img:last-child{right: -0.6em;}

}
@keyframes move {
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }

}
@keyframes move-1 {
    50% {
        bottom: 12%;
    }
    100% {
        bottom: 0;
    }

}
@keyframes move-2 {
    50% {
        bottom: 24%;
    }
    100% {
        bottom: 16%;
    }

}
@keyframes move-3 {
    50% {
        bottom: 16%;
    }
    100% {
        bottom: 8%;
    }

}
@keyframes move-4 {
    50% {
        bottom: -10%;
    }
    100% {
        bottom: -15%;
    }

}
@keyframes move-5 {
    50% {
        bottom: 20%;
    }
    100% {
        bottom: 16%;
    }

}
@keyframes move-sm {
    50% {
        top: 24vh;
    }
    100% {
        top: 27vh;
    }

}

@keyframes move-sm-2 {
    50% {
        top:4em;
    }
    100% {
        top:6em;
    }

}
@keyframes move-sm-3 {
    50% {
        top:12vh;
    }
    100% {
        top:16vh;
    }

}
@media (max-width: 500px){
    .sirop.section img:last-child{
        top: 26%!important;
    }
}
.switcher .option{
    position:absolute!important;
}
.switcher .option .selected:after{
    display: none;
}
.switcher .option .selected:hover{
    border: 1px solid white!important;
}

.main_html header{
    position: fixed;
}
.main_html header a{
    color: black!important;
}
@media (max-width: 575px) {
    .about__video .big-img{
        height: 200px;
    }
}
@media (max-width: 575px){
    .about__video__play img {
        width: 50px;
        height: 50px;}}
    .product-attribute .btn {
        color:#6d8248!important;}
.btn:hover{
    background-color: #E8D1DC;
    transition: ease-in 3ms;
    color: white!important;
}
header a:hover{
    font-size: 18px;
    transition: all 20ms;
}
.best h4{
    margin-bottom: 45px;
}
.contact .contact__text{
    margin-top: 2em;
}
.contact .contact__text .at_all{
    font-size: 24px;
padding: 8vh 0 1vh 0;
}
@media (max-width: 575px){
    .contact .contact__text .at_all{
        text-align: center;
        font-size: 19px;
        margin-top: 30px;
        line-height: 1em;}
    .contact .contact__text p{
        text-align: center;
        line-height: 1em;}
    .contact .contact__text ul{
        padding-left: 2vw;
    }
    .contact h2{
        font-size: 30px;
    }
    .contact .contact__text {
        margin-top: 4em;
    }
    .contact a{
        font-size: 25px;
    }
    .main_html header a,.main_html header a,.main_html .black_icon_color {
        color: white!important;
    }
	.switcher .selected a{
		color:black!important;
	}
    .main_html header .logo{
        background-image: url("/wp-content/themes/Delicia/assets/img/logo.png");
    }
    .main_html header .logo img{
        opacity: 0;
    }
    .switcher .selected:after{
        border-top: 5px solid white;
        margin-left: 4px;
    }
    header .selceted a:last-child{
        margin-right: 5px;
    }
    .responsive-menu .lang{
        width:14%;
    }
}
@media (max-width: 500px){
    .left .product-attribute .btn, .left .product-attribute h4, .left .product-attribute p, .left .product-attribute div{
        display: none;
    }

    .left .product-attribute h2{
        top: 73vh;
        position: relative;
        margin-bottom: 3vh;
        right: auto;
		text-align:center;
		left:auto!important;
		
    }
    .left .product-attribute .nav-item p{
        display: flex;
    }
    .left .product-attribute{
        margin: 0 auto!important;
        bottom: auto;
        display: block;
        height: 100vh;
    }
    .left .product-attribute ul{
        justify-content: center!important;
        top: 71vh;
        position: relative;
    }
	.left .product-attribute ul li:first-child{
		padding-right:10px;
	}
    .left img:first-child{
        height: 64%!important;
    }
    #best__bg-img {
        position: relative;}
    .left .product-attribute .nav-item p{
        font-size: 22px;
    }
    .collapse-drop p:first-child{
        margin-right: 0;
    }

}
@media (max-width: 400px) {
    .left .product-attribute .nav-item p{
        font-size: 16px;
    }
}
.modal-backdrop{
    background-color: transparent!important;
    display: none;
}
.modal-footer button:hover{
}

@media (max-width: 500px){
    .jem.section img:first-child{
        height: 70vw!important;
        width: auto;
    }
}
.main_html .modal-body *{
    color: black!important;

}
.modal.show .modal-dialog{
    margin-top: 38%;
}

body .modal-body {
    line-height: 1.6em!important;
}
.switcher .selected a,.switcher .option:hover{
    font-size: inherit!important;
}
.switcher .selected a,.switcher .option{
    width: 40px!important;

}
.switcher .option a:hover{
    border: 1px solid white!important;
    background-color: transparent!important;
    font-size: inherit!important;
}
.switcher .option a{
    padding: 3px 0;

}
.blog__link{
    width: inherit;
    height: inherit;
    display: block;
    position: absolute;
}
.blog__link:hover{
    text-decoration: none!important;
}
.product_cart__main__price-and-cart div{
    border-radius: 20px!important;
}
.product_cart__main__price-and-cart button{

    background-color: transparent!important;
}
@media (max-width: 992px){
    .list-container ul {
        margin-left: 76%;
    }
}
.first-slide__text{
    height: calc(100% - 98px);
}
.text-404 h1{
    text-transform: uppercase;
    font-size: 44px;
    font-family: "Museo Cyrl 700", sans-serif;
    color: white;
    line-height: 1.5;
    text-align: left;
    z-index: 6;
}
.error-404{
    background-color: rgb(249, 147, 56);
}

.error-404 p{
    font-size: 24px;
    font-family: "Bebes Regular", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.125;
    text-align: left;
    z-index: 7;
    margin: 1em 0;
}

.error-404 .text-404 a {
    margin-top: 30px;
    border-radius: 30px;
    background-color: white;
    font-size: 14.707px;
    font-family: "Museo Cyrl Bold", sans-serif;
    color: rgb(249, 147, 56);;
    text-transform: uppercase;
    line-height: 2.04;
    -moz-transform: matrix( 1.36329687179272,0,0,1.35985162045527,0,0);
    -webkit-transform: matrix( 1.36329687179272,0,0,1.35985162045527,0,0);
    -ms-transform: matrix( 1.36329687179272,0,0,1.35985162045527,0,0);
    z-index: 8;
    margin-left: 20px;

}
.error-404 a.btn:hover{
    color:black!important;
}
.error-404 .error-img img{
    top: 11em;
    right: 0;
    bottom: 0;
    display: inline-block;
    height: 420px;
    z-index: 1;
}
.error-404 footer{
    background-color: transparent;
    padding: 0;
    display: none;
}
.error-404 body{
    background-color: transparent;
    margin: 0!important;
    min-height: 100%;
    width: 100%;
}
.error-404 body .container{
    height: calc(100vh - 99px);
}
.error-404 body .container .row{
    height: 100%;
}
.error-404{
    margin: 0!important;
    height: 100%;
    width: 100%;
}
.error-404 .text-404 .btn:hover{
    text-decoration: none;
    color: black;
}

@media (max-width: 767px) {
    .error-404 .error-img img{
        left: auto;
        position: absolute;
        right: auto;
        top: auto;
        bottom: 0;
    }
    .error-404 .error-img{
        position: absolute;
        bottom: 0;
        top: auto;
    }
    .error-404 .text-404{
        justify-content: center;
    }
    .error-404 h1{
        font-size: 41px;
    }
    .error-404 p, .error-404 h1{
        text-align: center;
    }
    .error-404 .text-404 .btn{
        margin-right: auto;
        margin-left: auto;
        width: 30%;
    }
    .error-404 body .row{
        align-items: flex-start;
    }
    .error-404 .text-404{
        top: 10vh;
    }
}
@media (max-width: 575px){
    .error-404 .text-404 .btn{
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    .error-404 h1{
        font-size: 7.4vw;
    }
}
.sirop h1, .sirop h2, .sirop h3, .sirop h4, .sirop p, .sirop span, .sirop a, .sirop em,.sirop-2 h1, .sirop-2 h2, .sirop-2 h3, .sirop-2 h4, .sirop-2 p, .sirop-2 span, .sirop-2 a, .sirop-2 em{
    color: black!important;
}
.owl-item{padding-top:10px}

.contact__social{
	font-size:24px;
	padding-top: 7vh!important;
}
.jem .product-attribute h2{
	font-size:54px;
}
.left .product-attribute .btn{
	margin-top:15px;
}
@media (max-width: 500px){
	.jem .product-attribute h2{
		font-size:34px;
	}
}
@media (max-width: 400px){
	.contact__text p {
		padding: 2vh 0 0 0;}
	.contact__social {
		padding-top: 2vh!important;}
	.contact .contact__text .at_all {
    margin-top: 5px;
}
	.contact__text ul {
    list-style: none;
		margin-top: 5vh;}
}
@media (max-width: 350px){
	.contact .contact__text {
    margin-top: -1em;
}
}
.error-404 body .black_menu .container{
	height:auto!important;
}
.error-404 body .black_menu .topnav{
	
}
.main_html .contact__text,.main_html .contact__text a{
	color:black!important;
}
.main_html .contact__text p{
	font-size:30px;
}
.contact_first{
	padding: 2vh 0 4vh 0!important;
}
.main_html .contact__text a{
	font-size:48px;
}
@media (max-width: 500px){
	.main_html .contact__text h2 {
    font-size: 80px;
}
	.main_html .contact__text a{
		font-size:20px;
	}
}
.best__main h3,.best__main h4{
	font-family:"Zinco Black",sans-serif;;
}
.best__main h3{
	font-size:62px;
}
.best__main h4{
	font-size:40px;
}
